*{
    font-family: 'Lato', sans-serif;

}

a {
    text-decoration: none;
    margin: 0.2em;
    padding: 0.2em;
    font-size: 14px;
    color: #b3bdca;
    font-weight:lighter
}

a:hover{
    color: slategray;
}

.Request {
    margin: 0;
    padding: 0;
    color: slategray;  
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 3em;
    width: 6em;
    box-shadow: 0 0 0 0 #F9E506;
    transition: ease-out 0.3s;
    outline: none;
}

.Request:hover {
    background-color: blue;
}

.Navbar {
    display: flex;
    width: 100vw;
    align-content: center;
    justify-content: space-between;
    font-weight: bold;

}



