

a {
    text-decoration: none;
    margin: 0.2em;
    padding: 0.2em;
    font-size: 14px;
    color: black;
    font-weight:lighter;
    font-family: 'Lato', sans-serif;
}

a:hover{
    color: slategray;
}

.Request {
    margin: 0;
    padding: 0;
    color: slategray;  
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 3em;
    width: 6em;
    font-family: 'Lato', sans-serif;
}

.Request:hover {
    background-color: rgb(255, 71, 24);
    color:white;
    cursor: pointer;
}

.Navbar {
    display: flex;
    width: 100vw;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    position: sticky;
    top:0;
    font-family: 'Lato', sans-serif;
    background-color:white;
    height:5vh;
}



@media only screen and (max-width: 700px) {
    .Navbar {
    display:flex;
    flex-direction:column;
    
    }
  }